<div class="flex ml-20">
  <div class="basis-[20%]">
    <ul class="list-disc text-blue-800">
      <li>
        <a
          class="underline"
          [routerLink]="['./sub']"
          routerLinkActive="text-red-700"
          >Subject</a
        >
      </li>
      <li>
        <a
          class="underline"
          [routerLink]="['./coldobservable']"
          routerLinkActive="text-red-700"
          >Cold Observable</a
        >
      </li>
      <li>
        <a
          class="underline"
          [routerLink]="['./behaviorsubject']"
          routerLinkActive="text-red-700"
          >Behavior Subject</a
        >
      </li>
      <li>
        <a
          class="underline"
          [routerLink]="['./replaysubject']"
          routerLinkActive="text-red-700"
          >Replay Subject</a
        >
      </li>
      <li>
        <a
          class="underline"
          [routerLink]="['./asyncsubject']"
          routerLinkActive="text-red-700"
          >Async Subject</a
        >
      </li>
      <li>
        <a
          class="underline"
          [routerLink]="['./voidsubject']"
          routerLinkActive="text-red-700"
          >Void Subject</a
        >
      </li>
    </ul>
  </div>
  <div class="basis-[80%]">
    <router-outlet></router-outlet>
  </div>
</div>
