<div class="flex ml-20">
    <div class="basis-[20%]">
        <ul class="list-disc text-blue-800">
            <li>
                <a class="underline" [routerLink]="['./buffer']" routerLinkActive="text-red-700">Buffer Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./buffercount']" routerLinkActive="text-red-700">Buffer Count Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./buffertime']" routerLinkActive="text-red-700">Buffer Time Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./buffertoggle']" routerLinkActive="text-red-700">Buffer Toggle Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./bufferwhen']" routerLinkActive="text-red-700">Buffer When Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./take']" routerLinkActive="text-red-700">Take Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./takelast']" routerLinkActive="text-red-700">Take Last Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./takeuntil']" routerLinkActive="text-red-700">Take Until Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./takewhile']" routerLinkActive="text-red-700">Take While Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./skip']" routerLinkActive="text-red-700">Skip Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./skiplast']" routerLinkActive="text-red-700">Skip Last Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./skipuntil']" routerLinkActive="text-red-700">Skip Until Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./skipwhile']" routerLinkActive="text-red-700">Skip While Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./distinct']" routerLinkActive="text-red-700">Distinct Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./distinctuntilchanged']" routerLinkActive="text-red-700">DistinctUntilChanged Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./distinctuntilkeychanged']" routerLinkActive="text-red-700">DistinctUntilKeyChanged Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./filter']" routerLinkActive="text-red-700">Filter Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./sample']" routerLinkActive="text-red-700">Sample Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./audit']" routerLinkActive="text-red-700">Audit Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./throttle']" routerLinkActive="text-red-700">Throttle Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./first']" routerLinkActive="text-red-700">First Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./last']" routerLinkActive="text-red-700">Last Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./debounce']" routerLinkActive="text-red-700">Debounce Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./elementat']" routerLinkActive="text-red-700">ElementAt Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./ignoreelements']" routerLinkActive="text-red-700">IgnoreElements Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./single']" routerLinkActive="text-red-700">Single Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./map']" routerLinkActive="text-red-700">Map Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./mapto']" routerLinkActive="text-red-700">MapTo Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./ajax']" routerLinkActive="text-red-700">Ajax Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./mergemap']" routerLinkActive="text-red-700">MergeMap Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./mergemapto']" routerLinkActive="text-red-700">MergeMapTo Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./concatmap']" routerLinkActive="text-red-700">ConcatMap Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./concatmapto']" routerLinkActive="text-red-700">ConcatMapTo Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./exhaustmap']" routerLinkActive="text-red-700">ExhaustMap Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./switchtmap']" routerLinkActive="text-red-700">SwitchMap Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./multicast']" routerLinkActive="text-red-700">Multicast Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./share']" routerLinkActive="text-red-700">Share Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./publishbehavior']" routerLinkActive="text-red-700">Publish Behavior Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./publishlast']" routerLinkActive="text-red-700">Publish Last Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./publishreplay']" routerLinkActive="text-red-700">Publish Replay Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./catcherror']" routerLinkActive="text-red-700">Catch Error Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./retry']" routerLinkActive="text-red-700">Retry Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./retrywhen']" routerLinkActive="text-red-700">Retry When Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./combinelatest']" routerLinkActive="text-red-700">Combine Latest</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./concat']" routerLinkActive="text-red-700">Concat</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./forkjoin']" routerLinkActive="text-red-700">Forkjoin</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./merge']" routerLinkActive="text-red-700">Merge</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./partition']" routerLinkActive="text-red-700">Partition</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./race']" routerLinkActive="text-red-700">Race</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./zip']" routerLinkActive="text-red-700">Zip</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./defer']" routerLinkActive="text-red-700">Defer</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./range']" routerLinkActive="text-red-700">Range</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./generate']" routerLinkActive="text-red-700">Generate</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./timer']" routerLinkActive="text-red-700">Timer</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./count']" routerLinkActive="text-red-700">Count Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./max']" routerLinkActive="text-red-700">Max Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./min']" routerLinkActive="text-red-700">Min Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./reduce']" routerLinkActive="text-red-700">Reduce Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./isempty']" routerLinkActive="text-red-700">Is Empty Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./findindex']" routerLinkActive="text-red-700">Find Index Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./find']" routerLinkActive="text-red-700">Find Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./every']" routerLinkActive="text-red-700">Every Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./defaultifempty']" routerLinkActive="text-red-700">Default If Empty Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./toarray']" routerLinkActive="text-red-700">To Array Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./subscribeon']" routerLinkActive="text-red-700">Subscribe On Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./observeon']" routerLinkActive="text-red-700">Observe On Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./materialize']" routerLinkActive="text-red-700">Materialize Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./dematerialize']" routerLinkActive="text-red-700">DeMaterialize Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./delay']" routerLinkActive="text-red-700">Delay Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./combinelatestall']" routerLinkActive="text-red-700">Combine Latest All Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./concatall']" routerLinkActive="text-red-700">Concat All Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./exhaustall']" routerLinkActive="text-red-700">Exhaust All Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./mergeall']" routerLinkActive="text-red-700">Merge All Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./switchall']" routerLinkActive="text-red-700">Switch All Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./startswith']" routerLinkActive="text-red-700">Starts With Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./withlatestfrom']" routerLinkActive="text-red-700">With Latest From Operator</a>
            </li>
            <li>
                <a class="underline" [routerLink]="['./groupby']" routerLinkActive="text-red-700">Group By Operator</a>
            </li>
        </ul>

    </div>
    <div  class="basis-[80%]">
        <router-outlet></router-outlet>
    </div>
</div>