<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
          <a class="nav-link active" aria-current="page" [routerLink]="['posts']">Imperative Posts</a>
          <a class="nav-link active" aria-current="page" [routerLink]="['declarativeposts']">Declarative Posts</a>
          <a class="nav-link active" aria-current="page" [routerLink]="['altposts']">Alternative Posts</a>
        </div>
      </div>
    </div>
  </nav>