<div class="form-container">
  <form [formGroup]="newCourseForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <input
        type="text"
        formControlName="name"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Enter Name"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Description</label
      >
      <textarea
        class="form-control"
        formControlName="description"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <select
        class="form-select"
        formControlName="status"
        aria-label="Change status"
      >
        <option value="active">Active</option>
        <option value="inActive">InActive</option>
        <option value="draft">Draft</option>
      </select>
    </div>
    <button
      [@newCourseTrigger]="newCourseForm.invalid ? 'invalid' : 'valid'"
      [disabled]="newCourseForm.invalid"
      class="btn btn-success me-2"
      type="submit"
    >
      Add
    </button>
    <button (click)="onClose()" class="btn btn-secondary" type="button">
      Cancel
    </button>
  </form>
</div>
