<h2 class="font-bold text-2xl">Signup</h2>

<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="max-w-sm mx-auto text-left mt-4">
  <div class="mb-5">
    <label
      for="email"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Your email</label
    >
    <input
      type="email"
      id="email"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="name@gmail.com"
      formControlName="email"
    />
    @if (signupForm.get('email')?.touched && signupForm.get('email')?.invalid) {
    @if (signupForm.get('email')?.hasError('required')) {
    <div class="text-red-600">email is requred</div>
    } @if (signupForm.get('email')?.hasError('email')) {
    <div class="text-red-600">Not a email</div>
    } }
  </div>
  <div class="mb-5">
    <label
      for="password"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Your password</label
    >
    <input
      type="password"
      id="password"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      formControlName="password"
    />
    @if (signupForm.get('password')?.touched &&
    signupForm.get('password')?.invalid) { @if
    (signupForm.get('password')?.hasError('required')) {
    <div class="text-red-600">password is requred</div>
    } @if (signupForm.get('password')?.hasError('minlength')) {
    <div class="text-red-600">password must be atleast 6 character long</div>
    } @if (signupForm.get('password')?.hasError('maxlength')) {
    <div class="text-red-600">password must be atmost 15 character long</div>
    } }
  </div>
  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Signup
  </button>
</form>
