<header>
  <h1>Angular Animations</h1>
</header>


<main class="container mt-5">
  <div class="row mb-3">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Courses</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['basic']" routerLinkActive="active" >Basics</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['users']" routerLinkActive="active" >Users</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['ang-animation']" routerLinkActive="active" >Angular Animations</a></li>
        <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['open']" routerLinkActive="active" >Open Animation</a></li> -->
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>