<!-- Rendering component using ngComponentOutlet -->
<!-- <ng-container *ngComponentOutlet="getComponent()">
  <app-admin-profile />
  <app-user-profile />
</ng-container> -->

<hr>

<!-- Instead of using ngComponentOutlet we can use lazy loading -->
 <h3>Instead of using ngComponentOutlet we can use lazy loading</h3>
<ng-container *ngComponentOutlet="profileComponent">
  <app-admin-profile />
  <app-user-profile />
</ng-container>

<hr>

<div>
  <h3>Dynamicaaly rendering component using viewcontainerRef</h3>
  <app-host/>
</div>

<hr>
<h3>Change detection strategy OnPush and default</h3>
<app-parent />

<hr>
<h3>Different types of applying style</h3>
<app-styles />
