<h2 class="font-bold text-lg">Edit Post</h2>
<hr>
<form [formGroup]="edtPostForm" (ngSubmit)="onUpdatePost()" class="max-w-sm mx-auto mt-3">
  <div class="mb-5">
    <label
      for="text"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Title</label
    >
    <input
      type="text"
      id="text"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      formControlName="title"
      placeholder="Enter Title"
    />
    @if (edtPostForm.get('title')?.touched && edtPostForm.get('title')?.invalid) {
        @if (edtPostForm.get('title')?.hasError('required')) {
            <div class="text-red-600">Title is requred</div>
        }
        @if (edtPostForm.get('title')?.hasError('minlength')) {
            <div class="text-red-600">Title should be aleast 6 character long</div>
        }
    }
  </div>
  <div class="mb-5">
    <label
      for="message"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Description</label
    >
    <textarea
      id="message"
      rows="4"
      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Leave a Description..."
      formControlName="description"
    ></textarea>
    @if (edtPostForm.get('description')?.touched && edtPostForm.get('description')?.invalid) {
        @if (edtPostForm.get('description')?.hasError('required')) {
            <div class="text-red-600">Description is requred</div>
        }
        @if (edtPostForm.get('description')?.hasError('minlength')) {
            <div class="text-red-600">Description should be aleast 10 character long</div>
        }
    }
  </div>
  <button
    type="submit"
    [disabled]="edtPostForm.invalid"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Edit Post
  </button>
</form>
