<div class="row my-3">
  <div class="col-md-12">
    <h3>My Courses with CSS Animation</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button
      (click)="createNewCourse.set(!createNewCourse())"
      class="btn btn-info"
      type="button"
    >
      Add Course
    </button>
  </div>
</div>

@if (createNewCourse()) {
<div class="row">
  <div class="col-md-12">
    <app-new-course (createCourse)="onCreateCourse($event)" (close)="onClose()"></app-new-course>
  </div>
</div>
}

<div class="row">
  <div class="col-md-12">
    @if (loading()) {
    <div class="loading-bar">
      <div class="loading-bar-elemnet"></div>
    </div>
    } @for (course of courses(); track course.name; let i = $index;) {
    <app-ang-course
      @courseAddTrigger
      [ngClass]="{
        selected: selectedCourse() === i,
        inActive: course.status === 'inActive'
      }"
      [course]="course"
      (statusUpdate)="updateStatus($event, i)"
      (deleteCourse)="onDeleteCourse(i)"
      (click)="onSelectedCourse(i)"
    ></app-ang-course>
    }
  </div>
</div>

<div class="row my-3">
  <div class="col-md-12">
    <h3>My Courses with Angular Animation</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    @if (loading()) {
    <div class="loading-bar">
      <div class="loading-bar-elemnet"></div>
    </div>
    } @for (course of courses(); track course.name; let i = $index;) {
    <app-ang-course
      [@selectedTrigger]="selectedCourse() === i ? 'selected' : 'default'"
      [course]="course"
      (statusUpdate)="updateStatus($event, i)"
      (deleteCourse)="onDeleteCourse(i)"
      (click)="onSelectedCourse(i)"
    ></app-ang-course>
    }
  </div>
</div>
