<div class="row">
  <div class="col-md-12">
    <h3>Post Data</h3>
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      <tbody>
        @for (post of posts(); track post.id) {
        <tr>
          <th scope="row">{{ post.id }}</th>
          <td>{{ post.title }}</td>
          <td>{{ post.description }}</td>
          <td>{{ post.categoryName }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
